/* font color */
$color1: rgba(56, 59, 64, 1);
$color2: rgba(66, 133, 241, 1);
$color3: rgba(237, 237, 237, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(53, 56, 61, 0.38);
$color6: rgba(53, 56, 61, 1);

/* border color */
$border-color: $color3;

/* font size */
$fz12: 12px;
$fz14: 14px;
$fz16: 16px;
$fz17: 17px;
$fz18: 18px;
$fz20: 20px;
$fz22: 22px;
$fz24: 24px;

/* font family */
$pfm: PingFangSC-Medium,PingFang SC;
$pfr: PingFangSC-Regular,PingFang SC;
$pfs: PingFangSC-Semibold,PingFang SC;
